@import '../styles.scss';

.home,
.home-content,
.home-bg {
  min-height: 100vh;
  overflow: hidden;
}

.home {
  @include make-css-grid(1fr, auto, 0, 0);
  align-items: center;
  background: $light;

  @include media-queries-up('lg') {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home .home-content {
  @include make-flex(center, center);

  .intro {
    margin: 0 1em;
  }
}

/* ========================
    HOME TITLE
======================== */
.home .home-content .intro {
  > h3 {
    font-family: $font-family-third;
    color: $dark !important;
    position: relative;
    margin: 0;
    margin-bottom: 0.4em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;

    &.home-city {
      margin-top: 0.4em;
      margin-bottom: 0.5rem;
    }

    @include media-queries-up('md') {
      margin-left: 0;
    }

    > span {
      display: inline-block;

      &:nth-child(odd) {
        animation: NameHomeMoveUp 0.3s ease-in-out 1.5s both;
      }

      &:nth-child(2) {
        animation: IconHomeOpacity 0.3s ease-in-out 1.9s both;
      }

      &:nth-child(3) {
        animation-delay: 2s;
      }

      .icon {
        margin: 0 0.5em;
        color: $dark;
      }
    }
  }
}

.home .home-content .intro {
  h1 {
    font-family: $font-family-third;
    color: $dark !important;
    position: relative;
    padding: 0.5em 0;
    font-size: 3em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;

    @include media-queries-up('md') {
      margin-right: auto;
      margin-left: auto;
      font-size: 5em;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      width: 100%;
      height: 4px;
      background: $dark;
      animation: changeLineWidth 0.4s ease-in-out 0.5s both,
        titleHomeBorderTop 0.4s ease-in-out 0.9s both;
    }

    &:after {
      animation: changeLineWidth 0.4s ease-in-out 0.5s both,
        titleHomeBorderBottom 0.4s ease-in-out 0.9s both;
    }

    span {
      display: block;
      background: 0 0;
      animation: titleHomeWordFirst 0.3s ease-in-out 1.35s both;

      &:nth-child(2) {
        animation-name: titleHomeWordSecond;
      }
    }
  }
}

.home .home-content .intro .social {
  @include make-flex(center);
  margin-top: 1rem;

  .social-link {
    color: $dark;
    text-decoration: none;
    font-size: 1.75rem;
    margin: 0 0.5rem;
    opacity: 0;
    animation: bounceIn 0.3s 2.3s forwards;
  }
}

/* ========================
    HOME IMAGE
======================== */
.home-bg {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $dark !important;
  transform: skewX(-15deg) translateX(25%) translateZ(1px);

  @include media-queries-down('lg') {
    display: none;
  }

  .bg-image {
    background-image: url(../../img/home.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    transform: skewX(15deg) translateX(-135px) translateZ(0px);
    opacity: 0.6;
  }
}
