.portfolio .owl-carousel,
.portfolio .owl-carousel .owl-stage-outer,
.portfolio .owl-carousel .owl-stage,
.portfolio .owl-carousel .owl-item {
  min-height: 100vh;
}

/* ========================
    CAROUSEL CONTAINER
======================== */
.portfolio .owl-carousel .work {
  @include make-flex(null, null, null, wrap);
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 0;

  > div {
    @include make-flex(null, flex-start);
    position: relative;
    width: 100%;

    &.work-image {
      min-height: 100vh;

      > img {
        margin: 0 auto;
        margin-top: 4rem;
        width: 90%;
        z-index: 1;
        max-width: 650px;
      }
    }

    @include media-queries-down('md') {
      &.work-content {
        position: absolute;
        bottom: 0;
        max-height: 55%;
        overflow-y: scroll;
      }
    }

    @include media-queries-up('md') {
      align-items: center;
      height: 100vh;

      &.work-image {
        width: 60%;

        > img {
          max-width: 350px;
        }
      }

      &.work-content {
        width: 40%;
      }
    }

    @include media-queries-up('lg') {
      &.work-image {
        > img {
          max-width: 450px;
        }
      }
    }

    @include media-queries-up('xl') {
      &.work-image {
        > img {
          max-width: 560px;
        }
      }
    }
  }
}

/* ===================
    CAROUSEL IMAGE
=================== */
.portfolio .owl-carousel .work .work-image {
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;

  > .mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    opacity: 0.85;
    z-index: 0;
  }
}

/* ========================
    CAROUSEL CONTENT
======================== */
.portfolio .owl-item .work .text-inner {
  display: block;
  background: $light;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  opacity: 0;
  transition: all 0.5s ease 0.4s;
  z-index: 2;

  @include media-queries-down('md') {
    width: 90%;
    max-width: 500px;
  }

  @include media-queries-up('md') {
    width: 110%;
    padding: 2rem;
    margin: 0 0 0 -5em;
  }
}

.portfolio .owl-item.active .work .text-inner {
  margin-top: 0;
  transition: all 0.5s ease 0.4s;
  animation: fadeInRight 0.5s 0.4s forwards;

  @include media-queries-up('md') {
    margin-top: 0;
    margin-left: -17%;
  }
}

/* ==========================
    CAROUSEL RIGHT NUMBER
========================== */
.portfolio .owl-item .work .number {
  @extend %number;
  margin-bottom: 1rem;
}

/* ==================
    CAROUSEL TEXT
================== */
.portfolio .owl-item .work .text-inner h2 {
  @extend %h2;
}

.portfolio .owl-item .work .text-inner .content {
  position: relative;
  background: $light;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.portfolio .owl-item .work .text-inner .content > p {
  @extend %p;
  @include make-flex(flex-start, null, null, wrap);
  margin: 1.5rem 0;

  &.logos {
    width: 100%;
  }

  img {
    @extend %icon;
    margin-top: 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* ========================
    CAROUSEL NAV
======================== */
.portfolio .owl-carousel .owl-nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  @include media-queries-down('md') {
    display: none;
  }

  > [class*='owl-'] {
    margin: 2px;
  }
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.portfolio .owl-nav span {
  background: $light;
  padding: 8px 15px !important;
  border: none;
  border-radius: 0;
}

.portfolio .owl-nav > button span {
  background: transparent;
  color: $dark;
  font-size: 2rem !important;
  border: none;
}

.portfolio .owl-nav > [class*='owl-']:hover {
  background: $dark;
  border: none;
}

.portfolio .owl-carousel .owl-nav > [class*='owl-']:hover span {
  color: $light;
}
