@import '../../styles';

.modal-content .content-bloc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.75rem;

  h4 {
    background: $dark;
    color: $light;
    padding: 0.5rem;
    font-family: $font-family-headings;
    margin-bottom: 1rem;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    width: max-content;
  }

  p {
    color: $dark;
    font-family: $font-family-fourth;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.2;
    text-align: left;
  }
}
