%btn {
  background: transparent;
  color: $dark;
  font-family: $font-family-content;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  overflow: hidden;
}
