// variables
//

// breakpoints
//
$containerbreakpoints: () !default;
$containerbreakpoints: map-merge(
  (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
  ),
  $containerbreakpoints
);

// containers
//
// width of the container padding
//
$container-gutter-width: 30px !default;

// widths for each breakpoints
//
$containerWidths: () !default;
$containerWidths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
  ),
  $containerWidths
);

// colors
$light: white !default;
$dark: black !default;

$color-nav: #1f1e1e !default;
$color-link: $light !default;

// Fonts
$font-family-nav: 'Bodoni Moda', serif !default;
$font-family-title: 'Libre Baskerville', serif !default;
$font-family-third: 'Anton', sans-serif;
