/// set the css properties of the container
///
/// @param $className {string} name of the generated class (container or container-fluid)
/// @param $paddingContainer total value of padding left and right
@mixin make-container(
  $className: 'container',
  $paddingContainer: $container-gutter-width
) {
  .#{$className} {
    width: calc(100% - #{$paddingContainer});
    padding-right: $paddingContainer / 2;
    padding-left: $paddingContainer / 2;
    margin: 0 auto;

    @if $className == 'container' {
      @include make-max-widths();
    }
  }
}

/// set the maximum width of the container in a media query for each breakpoint
///
/// @param $max-widths {map} list of container widths
/// @param $breakpoints {map} list of the breakpoints
@mixin make-max-widths(
  $max-widths: $containerWidths,
  $breakpoints: $containerbreakpoints
) {
  @each $key, $value in $max-widths {
    @include media-queries-up($key, $breakpoints) {
      max-width: $value;
    }
  }
}
